@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625889287705') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before {
  content: "\e67a";
}

.icon-tianjia:before {
  content: "\e697";
}

.icon-chakanMV:before {
  content: "\e604";
}

.icon-shuaxin:before {
  content: "\e6b9";
}

.icon-shanchu:before {
  content: "\e612";
}

.icon-mv:before {
  content: "\e60b";
}

.icon-jiantou:before {
  content: "\e609";
}

.icon-bianji:before {
  content: "\e629";
}

.icon-fenxiang1:before {
  content: "\f04a";
}

.icon-qiehuan:before {
  content: "\e615";
}

.icon-shuaxin1:before {
  content: "\e692";
}

.icon-hm_video_light:before {
  content: "\e62a";
}

