h1 {
    margin: 0;
    padding: 0;
}

html {
    min-width: 1485px;
    background-color: #333;
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: transparent;
    outline: 0;
} 

.el-card {
background-color: #7A7374;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
}
