@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627094115317') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\eaf5";
}

.icon-yinle:before {
  content: "\e62e";
}

.icon-zhuanjiguangpan:before {
  content: "\e64b";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-huidaodingbu:before {
  content: "\e61c";
}

.icon-iconfenxiang:before {
  content: "\e630";
}

.icon-erweima:before {
  content: "\e67a";
}

.icon-tianjia:before {
  content: "\e697";
}

.icon-chakanMV:before {
  content: "\e604";
}

.icon-shexiang:before {
  content: "\e631";
}

.icon-qingdankushoucang:before {
  content: "\e62c";
}

.icon-shuaxin:before {
  content: "\e6b9";
}

.icon-icon--my:before {
  content: "\e618";
}

.icon-xinxi:before {
  content: "\e65e";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-shanchu:before {
  content: "\e612";
}

.icon-MV:before {
  content: "\e62d";
}

.icon-icon-test:before {
  content: "\e619";
}

.icon-mv:before {
  content: "\e60b";
}

.icon-xiazai:before {
  content: "\e61d";
}

.icon-jiantou:before {
  content: "\e609";
}

.icon-bianji:before {
  content: "\e629";
}

.icon-biaoqianA01_fenlei-02:before {
  content: "\ea8b";
}

.icon-fenxiang1:before {
  content: "\f04a";
}

.icon-qiehuan:before {
  content: "\e615";
}

.icon-shuaxin1:before {
  content: "\e692";
}

.icon-bofang:before {
  content: "\e668";
}

.icon-yinle1:before {
  content: "\e623";
}

.icon-hm_video_light:before {
  content: "\e62a";
}

